.alignment{
  text-align: center;
  color: white;
  font-family: "Calistoga";
  font-size: 45px;
  transition: 5s;
}

.alter{
  color: white;
  font-family: "DejaVu Serif";
}

#change{
  left:550px;
}
