







.text-truncate{
  font-family: Bitter;
}

.table-dark thead th{
  border-color: white;
}





















.card-body{
  //text-align: center;
  color: black;
  font-family: BlinkMacSystemFont;
}

.table-dark thead th{
  font-family: Bitter;
}

.card{
  position:absolute;
  width :702px;
  height:320px;
  left:500px;
  top:900px;
  background-color: #ffffff;
  //opacity: 0.45;
}

.adjust1{
  position: absolute;
  width: 137px;
  height: 30px;
  left: 70px;
  top:50px;

  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;

  color: #F15A22;
}


.btn{
  position: absolute;
  width: 152px;
  height: 21px;
  left: 130px;
  top: 80px;


  background: #FFFFFF;
}

.adjust2{
  position: absolute;
  width: 137px;
  height: 30px;
  left: 428px;
  top: 50px;

  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #F15A22;
}

#ad1{

  position: absolute;
  width: 142px;
  height: 21px;
  left: 448px;
  top: 80px;

  background: #FFFFFF;
}

.adjust3{
  position: absolute;
  width: 137px;
  height: 30px;
  left: 70px;
  top:125px;

  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;

  color: #F15A22;
}
#ad2{

  position: absolute;
  width: 152px;
  height: 21px;
  left: 130px;
  top: 150px;

  background: #FFFFFF;
}#ad2{

  position: absolute;
  width: 152px;
  height: 21px;
  left: 130px;
  top: 150px;

  background: #FFFFFF;
}

.adjust4{
  position: absolute;
  //width: 137px;
  height: 30px;
  left: 428px;
  top: 125px;

  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #F15A22;
}
#ad3{

  position: absolute;
  width: 142px;
  height: 21px;
  left: 448px;
  top: 150px;

  background: #FFFFFF;
}

.adjust5{
  position: absolute;
  width: 137px;
  height: 30px;
  left: 70px;
  top:185px;

  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;

  color: #F15A22;

}
#ad4{

  position: absolute;
  width: 152px;
  height: 21px;
  left: 130px;
  top: 215px;

  background: #FFFFFF;
}

.adjust6{
  position: absolute;
  //width: 137px;
  height: 30px;
  left: 428px;
  top: 185px;

  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #F15A22;
}
#ad5{

  position: absolute;
  width: 142px;
  height: 21px;
  left: 448px;
  top: 215px;

  background: #FFFFFF;
}


#ad6{
  position: absolute;
  width: 100px;
  height: 28px;
  left: 310px;
  top: 275px;

  background: #FFFFFF;

}
.card1{
  position:absolute;
  width :602px;
  height:400px;
  left:500px;
  top:1600px;
  background-color: #C4C4C4;
  opacity: 0.45;
}
