@import url('https://fonts.googleapis.com/css?family=Alatsi:500&display=swap');


  .alignment{
    text-align: center;
    color: white;
    font-family: "Calistoga";
    font-size: 45px;
    transition: 5s;

  }
.btn{
  border-radius: 25px;
  font-family: Calistoga;
  background-color: black;
  border-bottom-width: 2px;
  font-size: 20px;
  right: -20px;
}

.form-group{
  color: white;
  font-family: "DejaVu Serif";

}
.container{
  left:50%;
}
